*.pyc
*.egg-info
dist
datasets
pytorch_env
models
build
correlation.egg-info
models.zip
input
output/
test_code/output/
test_code/output_cropped/
test_code/output_whole/
rmc_video/
data/prepared_raft_videos/
data/saved_optical_flow/
